.calendar__container {
    user-select: none; /* prevent text selection */

    box-sizing: border-box;
    background-clip: border-box;

    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

.calendar__container *, *:before, *:after {
    box-sizing: inherit;
}

.calendar__header {
    display: flex;
    background-color: #5d5d81;
    color: white;
}

.calendar__content {
    flex: 1;
    display: flex;
    overflow-x: auto;
    overflow-y: scroll;
}

.calendar__content__hours__container {
    color: #5d5d81;
    background-color: white;
}

.calendar__content__hour {
    transform: translateY(-8px);
    font-size: 10px;
    text-align: right;
    margin-right: 4px;
}

.calendar__content__hour:first-child {
    visibility: hidden;
}

.calendar__content__day {
    pointer-events: none;
    position: relative;
}

.calendar__content__day__grid {
    pointer-events: none;
    position: absolute;
    width: 100%;
    border-bottom: 1px solid #DDDDDD;
    border-right: 1px solid #DDDDDD;
    box-sizing: border-box;
    z-index: 0;
}

.calendar__content__day__grid:first-child {
    border-top: 1px solid #DDDDDD;
}

.calendar__content__day__grid.today {
    background-color: #bfcde0;
}

.calendar__header__event {
    font-size: 12px;
    background-color: #D5C6E0;
    color: black;
    border-radius: 4px;
}

.calendar__content__day__event, .calendar__content__day__slot {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    flex-direction: column;
}

.calendar__content__day__event {
    z-index: 2;
    background-color: rgb(159, 225, 231); /* read from events */
    color: #05283A; /* read from events */
    border-left: 4px solid rgb(127, 180, 185); /* read from events */
    right: 5px;
}

.calendar__content__day__event__dragging, .calendar__content__day__slot__dragging, .calendar__content__day__indicator__dragging {
    position: absolute;
    z-index: 500;
    font-size: 12px;
    border-radius: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: default;
    opacity: 75%;
    left: 0;
    right: 0;
}

.calendar__content__day__slot {
    background-color: #FF00813F; /* read from events */
    color: white; /* read from events */
    border-left: 4px solid #FF00813F; /* read from events */
}

.calendar__content__day__event__dragging {
    right: 5px;
    background-color: #CC2936;
    color: white;
}

.calendar__content__day__slot__dragging {
    background-color: #05283A;
    color: white;
}

.calendar__content__day__indicator__dragging {
    background-color: #FFC700;
    color: white;
}

.calendar__content__day__current-time {
    pointer-events: none;
    width: 100%;
    height: 2px;
    background-color: #FF0081;
    margin: 5px 0;
    z-index: 100;
    position: relative;
}

.calendar__content__day__current-time:before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #FF0081;
    border-radius: 5px;
}
